.myRating {
  align-items: center;
  border-bottom: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.allRatings {
  background: url('../../../assets/icons/down-arrow.png') center bottom no-repeat;
  background-size: 24px;
  border-bottom: 1px solid #cdcdcd;
  cursor: pointer;

  &.allRatings--opened {
    padding-bottom: 0.5rem;
  }
}

.rating,
.style {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;

  &.rating--average {
    padding-bottom: 1rem;
  }
}

.style,
.rating--average {
  label {
    font-weight: bold;
  }
}

.style {
  border-bottom: 1px solid #cdcdcd;
}

form {
  background: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
  margin: 1rem;
  padding: 1rem;

  textarea {
    height: 6rem;
  }
}

.noteList {
  margin: 1rem;
}

.note {
  background: #ffffff;
  border-bottom: 1px solid #cdcdcd;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;

  &.note--mine {
    border-bottom: 2px solid #673ab7;
  }

  .details {
    opacity: 0.8;
    text-align: right;
  }
}
