.portal__app {
  
}

.portal__recipe-header {
  img {
    height: 50px;
    width: 50px;
  }

  span {
    width: 100%;
  }
}

.portal__nope-header {
  img {
    height: 50px;
    width: 50px;
  }

  span {
    width: 100%;
  }
}

.portal__meme-header {
  img {
    height: 50px;
    width: 50px;
  }

  span {
    width: 100%;
  }
}

.portal__wine-header {
  img {
    height: 50px;
    width: 50px;
  }

  span {
    width: 100%;
  }
}

.portal__funko-header {
  img {
    height: 50px;
    width: 50px;
  }

  span {
    width: 100%;
  }
}

.portal__gas-header {
  img {
    height: 50px;
    width: 50px;
  }

  span {
    width: 100%;
  }
}
